---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Sectionhead from "./sectionhead.astro";
import Link from "./ui/link.astro";

const features = [
  {
    title: "User-Centric Design",
    description:
      "Coral enables to create and manage Digital Twins effortlessly.",
    icon: "uil:smile", 
  },
  {
    title: "Next-Generation Platform",
    description:
      "Designed for ease of use, efficiency, integration and modularity.",
    icon: "uil:window",
  },
  {
    title: "Integration of Technologies",
    description:
      "Integrates IoT, simulations, AI, data management, HPC, and visualization.",
    icon: "uil:database",
  },
  // {
  //   title: "Orchestrated by CoralCore",
  //   description:
  //     "CoralCore orchestrator ensures efficient operation and delivers a user experience based on block-based and no-code principles",
  //   icon: "uil:robot",
  // },
  // {
  //   title: "Modularity and Extensibility",
  //   description:
  //     "Modularity allows flexibility in customization and adaptation to specific organizational needs",
  //   icon: "uil:search",
  // },
  // {
  //   title: "Widely Adopted Standards",
  //   description:
  //     "Compatibility and interoperability facilitate smooth integration with existing software environments.",
  //   icon: "uil:check", 
  // },
];
const coralComponents = [
  {
    type: "Design",
    title: "Coral Build",
    description: "No-code building and admin GUI",
    icon: "uil:pen",
    rowStart: 1,
    backDescription: "Design and manage your digital replica easily with our no-code graphical interface",
    buttonCssClass: "flex",
    buttonLink: "/blog/coral_platform_dealii-x",
  },
  {
    type: "Ingest",
    title: "Coral IoT",
    description: "Sensor data gateway",
    icon: "uil:plane-arrival",
    rowStart: 2,
    backDescription: "Feed your digital twin with real-time data using our powerful gateway",
    buttonCssClass: "hidden",
    buttonLink: "/blog/coral_platform_dealii-x",
  },
  {
    type: "Orchestrate",
    title: "Coral Core",
    description: "Orchestrator and data manager",
    icon: "uil:constructor",
    rowStart: 1,
    backDescription: "Efficiently provide resources for heavy computations and conveniently manage data",
    buttonCssClass: "flex",
    buttonLink: "/blog/coral_platform_dealii-x",
  },
  {
    type: "Simulate",
    title: "Coral Sim/AI",
    description: "Simulation and AI engine",
    icon: "uil:heartbeat",
    rowStart: 2,
    backDescription: "Generate trustworthy results using state-of-the-art AI and simulation techniques",
    buttonCssClass: "flex",
    buttonLink: "/blog/coral_platform_dealii-x",
  },
  {
    type: "Visualize",
    title: "Coral Viz",
    description: "3D visualization with XR/VR",
    icon: "uil:cube",
    rowStart: 1,
    backDescription: "Leverage the power of 3D visualization to explore your digital replica",
    buttonCssClass: "flex",
    buttonLink: "/blog/coral_platform_dealii-x",
  }
]
---

<script>
  document.querySelectorAll('.flip-card').forEach(card => {
    card.addEventListener('click', () => {
      card.classList.toggle('flipped');
    });
  });
</script>

<Sectionhead>
  <Fragment slot="title">Coral</Fragment>
  <Fragment slot="desc">Digital Twin platform.</Fragment>
</Sectionhead>

<div class="grid grid-col-1 md:grid-cols-3 justify-center mt-8 lg:mt-12 gap-8 md:gap-12">
  {
    features.map((item) => (
      <div class="max-w-sm flex flex-col lg:gap-1 mx-2">
        <div class="flex gap-4 items-end">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div class="font-semibold text-lg">{item.title}</div>{" "}
        </div>
        <div class="mt-2 text-justify text-slate-600 leading-relaxed">{item.description}</div>
      </div>
    ))
  }
</div>

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 lg:grid-rows-5 mt-8 lg:mt-12 mx-4 gap-8 lg:gap-12 justify-items-center">
  {
    coralComponents.map((component) => {
      const rowStart = component.rowStart === 1 ? 'lg:row-start-1 lg:row-span-3' :
                      component.rowStart === 2 ? 'lg:row-start-2 lg:row-span-3' :
                      component.rowStart === 3 ? 'lg:row-start-3 lg:row-span-3' : '';
      return (
        <div class={`${rowStart} w-52 h-72 flip-card cursor-pointer`}>
          <div class="flip-card-inner">

            <!--front -->
            <div class="flip-card-front p-4 lg:p-8 rounded-xl bg-white shadow hover:border border-gray-500
             flex flex-col gap-2 justify-center items-center">
              <div class="flex items-center justify-center shrink-0 border rounded-md w-16 h-16 ">
                <Icon class="text-center text-black w-8 h-8" name={component.icon}/>
              </div>
              <div class="text-center text-lg mt-1">{component.title}</div>
              <div class="font-semibold text-lg">{component.type}</div>
              <div class="text-center text-slate-600 leading-relaxed max-w-[50vw]">{component.description}</div>
              <div class="lg:hidden mt-4 text-xs text-slate-600 animate-pulse">
                Tap to flip →
              </div>
            </div>

            <!-- back -->
            <div class="flip-card-back p-6 rounded-xl bg-slate-800 text-white shadow 
              flex flex-col lg:gap-2 justify-between items-center">
              <div class="text-center text-lg text-slate-200 leading-relaxed">{component.backDescription}</div>
              <Link
                size="lg"
                style="outline"
                rel="noopener"
                href={component.buttonLink}
                class={`${component.buttonCssClass} gap-1 items-center justify-center`}
                target="_blank">
                <Icon class="text-black w-6 h-6" name="uil:arrow-circle-right" />
                  More
              </Link>
            </div>
          </div>
        </div>
      )
    })
  }
</div>
<!-- <div class="p-8" style="display: flex; justify-content: center;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Yxipeo_vLys?si=HIo6YgjkgKtdVdD-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div> -->

<style>
  .flip-card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }

  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
</style>